<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat anything</title>
  <link rel="stylesheet" type="text/css" href="../public/css/chat.css">
</head>
<body>
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off">
    <button>Send</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const form = document.getElementById('form');
    const input = document.getElementById('input');

    form.addEventListener('submit', (e) => {
      e.preventDefault();
      if(input.value){
        // input안에 값이 있으면 chat message라고 하고 input.value를 보내라
        socket.emit('chat message', input.value);

        // 보내고 input.value를 지워주기
        input.value = '';
      };
    });
  </script>
</body>
</html>
